.frame{
    transition: all ease-in-out .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    box-sizing: border-box;
    width: 100%;
}

.body{
    width: calc(100vw - (calc(100vw - 100%)));
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}