.title{
    background-image: url('/assets/images/floro-and-flutter.png');
    // 2309x2614
    aspect-ratio: 2309/2614;
    width: 50%;
    max-width: 500px;
background-size: contain;
box-sizing: border-box;
}
.tag{
    background-image: url('/assets/images/by-eme.png');
    // 1484 × 349
    aspect-ratio: 1484/349;
    width: 20%;
    max-width: 300px;
background-size: contain;
box-sizing: border-box;
}